
h1{
width : 200px;
font-style : cursive;
text-align : center;
color : deeppink;
border : 4px inset rgb(40,66,170);
border-radius : 6px;
box-shadow : 5px 5px 16px rgb(179,32,113);
text-shadow : 4px 4px 18px rgb(225,69,47);
padding : 1%;
margin : 1% auto;
}

#button{
	position : fixed;
	right : 1%;
	top : 120px;
	width : 100px;
  	padding : 10px;
	border-color : purple;
	font-size : 18px;
	font-style : sans-serif;
	border-radius : 5px;
}


#button:hover{
	box-shadow : 6px 6px 20px rgb(155,187,210);
}
table{
margin : 100px auto;
text-align : center;
display : ;
width : 95%;
height : ;
border-radius : 4px;
empty-cells : hide;
border-collapse : collapse;
}

tr,th,td{
border : 4px solid rgb(138,84,188);
height : 40px;
width : ;
}
th{
color : rgb(74,162,117);
text-shadow : 4px 4px 14px rgb(223,227,40);
font-style : sans-serif;
}
td:hover{
border-top-width : 4px;
border-bottom-width : 4px;
border-bottom-style : solid;
border-top-style : solid;
border-top-color : rgb(260,66,63);
border-bottom-color : rgb(260,66,63);
box-shadow : 2px 2px 4px rgb(260,66,63);
color : rgb(83,137,56);
}

input{
	height : 100%;
	width : 95%;
	border-style : none;
}
